@charset "UTF-8";
@media screen and (min-width: 480px){
  .search-nav .input-search{width: 300px; display: inline-block;}
}

@media screen and (max-width: 768px){
  .search-nav .input-search{width: 60%!important;}

  .shop-banner .layui-carousel img{width: 350px; height: 115px;}
  .shop-banner .layui-carousel{height: 115px;}
  .shop-banner{margin-top: 20px;}
  .shop-banner .layui-carousel .layui-container{width: 350px!important;}
  .shop-banner .layui-carousel img{width: 350px; height: 115px;}
  .shop-banner .layui-carousel{height: 115px;}

}


@media screen and (min-width: 768px){
  .search-nav .input-search{width: 550px;}

  .product-list dl dt{display: block;}
  .product-list dl dd{display: block; width: 100%; margin: 0; line-height: 60px; border: none; border-radius: none; border-bottom: 1px solid #f0f0f0;}
  .product-list dl dd a{line-height: 65px;}
  .product-list dl dd:last-child{border-bottom: none;}

}

@media screen and (min-width: 992px){

}

@media screen and (min-width: 992px) and (max-width: 1200px){

}

@media screen and (min-width: 1200px){
  .shop-banner .layui-carousel img{margin-left: -15%;}
}

@media screen and (min-width: 1366px){
  .layui-container{width: 1320px;}

}

@media screen and (min-width: 1440px){
  .layui-container{width: 1400px;}
  .shop-banner .layui-carousel img{margin-left: 0;}

}
