@charset "UTF-8";
@media screen and (min-width: 480px){
  .search-nav .input-search{width: 300px; display: inline-block;}
}

@media screen and (max-width: 768px){
  .search-nav .input-search{width: 60%!important;}
}


@media screen and (min-width: 768px){
  .search-nav .input-search{width: 550px;}
}

@media screen and (min-width: 992px){

}

@media screen and (min-width: 992px) and (max-width: 1200px){

}

@media screen and (min-width: 1200px){

}

@media screen and (min-width: 1366px){
  .layui-container{width: 1320px;}

}

@media screen and (min-width: 1440px){
  .layui-container{width: 1400px;}

}
