<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>电信合伙人</title>
	<meta name='keywords' content='校园安心付,学校,手机,一卡通'>
	<!-- viewport标签 -->
	<meta name = 'viewport' content='width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0'>
	<!-- 禁止将数字变为电话号码 -->
	<meta name= 'format-detection' content='telephone=no'>
	<link rel="stylesheet" href="../js/layer_mobile/need/layer.css">
	<link rel="stylesheet" href="../style/common.css">

</head>
<body>
	<div id="header-fixed">
		<i class="arrow-icon arrow-left-header">&lsaquo;</i>
		<p>校园安心付</p>
	</div>
	<div id="mian">
		<div class="pannel-card-radius margin-top-10" style="background-color: transparent;">
			<i class="i-img i-img-width width-100">
				<img src="../assets/banner advertisement@2x.png" alt="">
			</i>
		</div>
		<div class="pannel-card-radius margin-top-10 padding-20">
			<div class="font-12">
				<p class="posotion-relative">
					<span class="color-light-black">办理方法</span>
					<i class="i-img i-img-width icon-question-yellow"><img src="../assets/helpicon@2x.png" alt=""></i>
				</p>
				<ul>
					<li>1.请点击下载“校园安心付”，下载登录。</li>
					<li>2.点击生活办款顶部“流量不限量”套餐广告，即可办理</li>
				</ul>
			</div>
		</div>
		<div class="margin-top-20">
			<button class="btn color-fff bg-middle-blue">点击下载校园安心付APP</button>
		</div>
	</div>
		



	
	<script src="../js/jquery.min.js"></script>
	<script src="../js/layer_mobile/layer.js"></script>
	<script src="../controller/common.js"></script>
	<script>
		
	</script>

</body>
</html>